// LOGO
nav.navbar {
  display: block;
  background-color: #fff;
  padding: 0;
  padding-bottom: 1rem;
  h1 {
    background-color: $success;
    color: #fff;
    text-align: center;
  }
}
// Centrer buttons
.navbar-collapse {
    justify-content: center;
}

// Colonnes
.card-column {
  article {
    background-color: rgb(214, 214, 214);
    color: rgb(22, 20, 20);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 25px;

    .views-field-title {
      display: flex;
      justify-content: center;

      span.field-content {
        a {
          font-size: 1.3rem;
          color: rgb(22, 20, 20);
        }
      }
    }

    .views-field-field-reponse {
      display: none;
    }

    div.field-content {
      text-overflow: ellipsis;
      word-wrap: break-word;
    }

    &:hover {
      // Réponse qui apparaît au survole
      .views-field-field-reponse {
        display: block;
      }
    }
  }
}
